@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}



.status{
  /*border: 1px solid black;*/
  padding-left:200px;
}

.header{
  background-color:yellow;
}

.marginButton{
  margin-right: 10px;
}


/* ========= TASKCARD ======== */
.task-card {
  width: 500px;
  max-width: 500;
  min-width: 500;
  background-color: rgb(202, 202, 238);
  margin: 2em 0em;
  width: 100%;
}

.task-card-unstarted {
  width: 500px;
  max-width: 500;
  min-width: 500;
  background-color: rgb(69, 179, 78);
  margin: 2em 0em;
  width: 100%;
}

.task-card-in-progress {
  width: 500px;
  max-width: 500;
  min-width: 500;
  background-color: rgb(202, 202, 238);
  margin: 2em 0em;
  width: 100%;
}

.req-row {
  display: flex;
}

.field-row {
  display: flex;
  margin: 1em 0em;
}

.field-icon {
  font-size: 24px;
  margin-right: 1em;
}

.card-last-row{
  display:flex;
  justify-content: space-between;
}

.dialog-header {
  padding: 1rem;
}