@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}


.task-card {
  width: 500px;
  max-width: 500;
  min-width: 500;
  background-color: rgb(202, 202, 238);
  margin: 2em 0em;
  width: 100%;
}

.status{
  /*border: 1px solid black;*/
  padding-left:200px;
}

.header{
  background-color:yellow;
  
}

.marginButton{
  margin-right: 10px;
}